{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Thesis-App{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.icons.css' %}">
    {% block custom_css %}{% endblock %}
    
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: #e7eaf6;">

    {% include 'partials/_navbar.html' %}


    <!-- Content -->
    <div class="container mt-5 flex-grow-1">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-dark text-light text-center py-3">
        <p>&copy; 2024 Thesis-App. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS ve Popper.js (Bootstrap için gerekli) -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
